In [79]:
%matplotlib inline
import pandas as pd

In [80]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [81]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                              title  year
0                                 8  2007
1                            Romans  2016
2                       Ultra-Toxic  2005
3                     The Candy Man  1969
4  Friends & Lovers: The Ski Trip 2  2008

In [82]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.keys()

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

In [83]:
cast['n']

0          22.0
1          10.0
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           9.0
8           NaN
9           8.0
10          9.0
11          NaN
12          NaN
13          NaN
14         16.0
15         16.0
16          NaN
17         31.0
18         25.0
19          9.0
20         73.0
21         10.0
22         61.0
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28         12.0
29         25.0
           ...
3557798     NaN
3557799     NaN
3557800     NaN
3557801     NaN
3557802     NaN
3557803     NaN
3557804     NaN
3557805     NaN
3557806     NaN
3557807     NaN
3557808     NaN
3557809    18.0
3557810     NaN
3557811    10.0
3557812     NaN
3557813     NaN
3557814     NaN
3557815    46.0
3557816    25.0
3557817    15.0
3557818    13.0
3557819     NaN
3557820     NaN
3557821     NaN
3557822    21.0
3557823    24.0
3557824    24.0
3557825    26.0
3557826    17.0
3557827     NaN
Name: n, dtype: float64

### How many movies are listed in the titles dataframe?

In [84]:
len(titles['title']) #229882 total

229882

### What are the earliest two films listed in the titles dataframe?

In [85]:
titles.sort_values('year').head(2)

                     title  year
120739          Miss Jerry  1894
219516  The Startled Lover  1898

In [86]:
# Miss Jerry and The Startled Lover

### How many movies have the title "Hamlet"?

In [87]:
len(titles[(titles.title == 'Hamlet')][['title', 'year']])

19

In [88]:
#19

### How many movies are titled "North by Northwest"?

In [89]:
len(titles[(titles.title == 'North by Northwest')][['title', 'year']])

1

In [90]:
#1

### When was the first movie titled "Hamlet" made?

In [91]:
titles[(titles.title == 'Hamlet')][['title', 'year']].sort_values('year').head(1)

        title  year
78380  Hamlet  1910

In [92]:
#1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [93]:
titles[(titles.title == 'Treasure Island')][['title', 'year']].sort_values('year')

                  title  year
180978  Treasure Island  1918
205617  Treasure Island  1920
209569  Treasure Island  1934
136811  Treasure Island  1950
43994   Treasure Island  1972
45301   Treasure Island  1973
122800  Treasure Island  1985
64621   Treasure Island  1999

### How many movies were made in the year 1950?

In [94]:
len(titles[(titles.year == 1950)][['title', 'year']])

1081

In [95]:
#1081

### How many movies were made in the year 1960?

In [96]:
len(titles[(titles.year == 1960)][['title', 'year']])

1488

In [97]:
#1488

### How many movies were made from 1950 through 1959?

In [98]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)][['title', 'year']])

12602

In [99]:
#12602

### In what years has a movie titled "Batman" been released?

In [100]:
titles[(titles.title == 'Batman')][['title', 'year']]

         title  year
107587  Batman  1943
201542  Batman  1989

In [101]:
# 1943 and 1989

### How many roles were there in the movie "Inception"?

In [102]:
cast[(cast.title == 'Inception')][['n','title']].sort('n', ascending=False).head(1)

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

            n      title
3507556  51.0  Inception

In [183]:
#51
import numpy

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [185]:
len(cast[(cast.title == 'Inception') & (numpy.isnan(cast.n))][['n']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

26

In [186]:
#26

### But how many roles in the movie "Inception" did receive an "n" value?

In [121]:
len(cast[(cast.title == 'Inception') & (cast.n <= 51)][['n']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

51

In [123]:
#51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [187]:
cast[(cast.title == 'North by Northwest') & (cast.n<=16)][['n','name']].sort('n')

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

            n                  name
828313    1.0            Cary Grant
3311904   2.0       Eva Marie Saint
1384564   3.0           James Mason
2979655   4.0   Jessie Royce Landis
338569    5.0        Leo G. Carroll
2880266   6.0  Josephine Hutchinson
1611237   7.0           Philip Ober
1211365   8.0         Martin Landau
2324061   9.0         Adam Williams
1721393  10.0          Edward Platt
632847   11.0     Robert Ellenstein
2180279  12.0          Les Tremayne
441299   13.0       Philip Coolidge
1433579  14.0         Patrick McVey
195292   15.0          Edward Binns
1315609  16.0             Ken Lynch

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [188]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)][['n','name']].sort('n')

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

           n                name
1620851  1.0    Laurence Olivier
309931   2.0       Michael Caine
355001   3.0      Alec Cawthorne
1392381  4.0  John (II) Matthews
2581312  5.0  Eve (III) Channing
1376603  6.0        Teddy Martin

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [189]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)][['n','name']].sort('n')

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

           n                 name
309932   1.0        Michael Caine
1228911  2.0             Jude Law
1716240  3.0        Harold Pinter
246374   NaN      Kenneth Branagh
355002   NaN  Alec (II) Cawthorne
2581311  NaN    Eve (II) Channing
3176194  NaN    Carmel O'Sullivan

### How many roles were credited in the silent 1921 version of Hamlet?

In [139]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)][['n']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

9

In [140]:
#9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [142]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)][['n']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

54

In [143]:
#54

### How many "Hamlet" roles have been listed in all film credits through history?

In [144]:
len(cast[(cast.title == 'Hamlet')][['n']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

313

In [145]:
#313

### How many people have played an "Ophelia"?

In [147]:
len(cast[(cast.character == 'Ophelia')][['n']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

107

In [148]:
#107

### How many people have played a role called "The Dude"?

In [150]:
len(cast[(cast.character == 'The Dude')][['n']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

17

In [151]:
#17

### How many people have played a role called "The Stranger"?

In [152]:
len(cast[(cast.character == 'The Stranger')][['n']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

209

In [153]:
#209

### How many roles has Sidney Poitier played throughout his career?

In [156]:
len(cast[(cast.name == 'Sidney Poitier')][['n','name','character']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

43

In [157]:
#43

### How many roles has Judi Dench played?

In [158]:
len(cast[(cast.name == 'Judi Dench')][['n','name','character']].sort('n'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

54

In [159]:
#54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [166]:
cast[(cast.name == 'Cary Grant') & (cast.year <1950) & (cast.year >= 1940) & (cast.n==2)][['n','name','character','year']].sort('year')

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

          n        name    character  year
828310  2.0  Cary Grant         Nick  1940
828320  2.0  Cary Grant  Roger Adams  1941

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [167]:
cast[(cast.name == 'Cary Grant') & (cast.year <1950) & (cast.year >= 1940) & (cast.n==1)][['n','name','character','year']].sort('year')

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

          n        name              character  year
828335  1.0  Cary Grant            Matt Howard  1940
828292  1.0  Cary Grant           Walter Burns  1940
828337  1.0  Cary Grant     C. K. Dexter Haven  1940
828325  1.0  Cary Grant                Johnnie  1941
828339  1.0  Cary Grant           Leopold Dilg  1942
828316  1.0  Cary Grant  Patrick 'Pat' O'Toole  1942
828283  1.0  Cary Grant          Capt. Cassidy  1943
828308  1.0  Cary Grant              Joe Adams  1943
828309  1.0  Cary Grant        Joe Bascopolous  1943
828317  1.0  Cary Grant            Jerry Flynn  1944
828275  1.0  Cary Grant      Mortimer Brewster  1944
828312  1.0  Cary Grant             Ernie Mott  1944
828311  1.0  Cary Grant            Cole Porter  1946
828314  1.0  Cary Grant                 Devlin  1946
828331  1.0  Cary Grant            Dick Nugent  1947
828332  1.0  Cary Grant                 Dudley  1947
828307  1.0  Cary Grant          Jim Blandings  1948
828287  1.0  Cary Grant      Dr. Madison Brown  1948
828296  1.0  Cary Grant    Capt. Henri Rochard  1949

### How many roles were available for actors in the 1950s?

In [169]:
len(cast[(cast.year >= 1950) & (cast.year<1960)][['n','name','character','year']].sort('year'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

209929

In [170]:
#209929

### How many roles were avilable for actresses in the 1950s?

In [172]:
len(cast[(cast.year >= 1950) & (cast.year<1960) & (cast.type == 'actress')][['n','name','character','year']].sort('year'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

55993

In [173]:
#55993

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [174]:
len(cast[(cast.n == 1) & (cast.year<=1980)][['n','name','character','year']].sort('year'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

63537

In [175]:
#63537

### How many non-leading roles were available through from the beginning of film history through 1980?

In [178]:
len(cast[(cast.n != 1) & (cast.year<=1980)][['n','name','character','year']].sort('year'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

1087299

In [179]:
#1087299

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [190]:
len(cast[(numpy.isnan(cast.n)) & (cast.year<=1980)][['n','name','character','year']].sort('year'))

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

434676

In [191]:
#434676